<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark opacity fixed-top shadow ">
        <div class="container">
          <a class="navbar-brand">Detail deskripsi</a>
          <div class="d-flex">
            <a class="text-light text-decoration-none me-2 mt-1" href="/preprosesing">Preprosesing</a>
            <a class="text-light text-decoration-none" href="/"><i class="bi bi-box-arrow-right fs-5 me-2"></i>Keluar</a>
          </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row ms-5 ">
            <div class="col border-bottom">
                <h1 class="mt-5">Detail deskripsi</h1>
            </div>
        </div>
        <div class="row ms-5 mt-3 mb-3">
            <div class="alert alert-warning text-center" role="alert">
                Peringatan : Hasil Outputnya berupa pernyataan kemungkinan terkena penyakit jantung (1) atau tidak (0) , <br>bisa dilihat pada contoh tabel field condision 
            </div>
        </div>
        <div class="row ms-5 mt-2 mb-3">
            <div class="col shadow" style="height:400px; overflow-x: scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            {% for column in df.columns%}
                            <td>{{column}}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(df.index.size) %}
                        <tr>
                            {% for j in range(df.columns.size) %}
                            <td>
                                {{df.iloc[i,j]}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- 
                 -->
            </div>
        </div>
       

        <div class="row ms-5">
            <div class="col">
                <h4>Input apa yang anda harus masukan :</h4>
            </div>
        </div>
        <div class="row ms-5 mt-3">
            <div class="col">
                1. Masukan nama 
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                2. Tabel age : Masukan umur anda
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                3. Tabel Sex : Masukan jenis kelamin anda
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                3. Tabel Cp : Jenis nyeri dada yang anda alami
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                4. Tabel Trestbps : Masukan tekanan darah anda
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                5. Tabel Chol : Apakah anda memiliki gula darah lebih dari 120mg/dl ?
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                6. Tabel Fbs : Pilih hasil elektrokardiografi anda
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                7. Tabel restecg : Masukan detak jantung maksimum anda
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                8. Tabel thalach : Apakah ketika melakukan aktivitas fisik berat seperti olahraga , dada anda terasa sakit
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                9. Tabel Exang : Masukkan nilai ST Depression :
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                10. Tabel Oldpeak : kemiringan segmen ST latihan puncak:
            </div>
        </div>
        <div class="row ms-5">
            <div class="col">
                11. Tabel Slope : jumlah kapal utama (0-3) diwarnai oleh flourosopy
            </div>
        </div>
        <div class="row ms-5 mb-5">
            <div class="col">
                12. Tabel ca : gejala cacar yang anda alami?
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>